{% extends 'default.html' %}
{% load static %}

{% block content %}

    <section id="home">



        

        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/slider/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Nemo</span> enim ipsam voluptatem quia voluptas</h2>
                                    <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut. </p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Cum soluta nobis <span>TEMPORE</span></h2>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. </p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Sed ut perspiciatis unde omnis iste</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima.</p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#">Reprehenderit Qui!</a>
                </div>
            </div>
        </div>
    </section><!--/#cta-->






    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">OUR Features</h2>
                <p class="text-center wow fadeInDown">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium<br>voluptatum deleniti atque corrupti quos dolores et quas</p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{%static 'images/main-feature.png'%}" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-download"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Officia Deserunt</h4>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Soluta Nobis</h4>
                            <p>Eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-gamepad"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Temporibus Autem</h4>
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Itaque earum</h4>
                            <p>Rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">YOUR COMPANY <span>SED UT PERSPICIATIS UNDE OMNIS</span></h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo<br>inventore veritatis et quasi architecto beatae.</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Voluptatem Quia</a></p>
            </div>
        </div>
    </section>

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Service</h2>
                <p class="text-center wow fadeInDown"> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,<br>adipisci velit, sed quia non numquam eius modi tempora incidunt ut </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-key"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ut Enim</h4>
                                <p>Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex commodi</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Quis Autem</h4>
                                <p>Reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-power-off"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"> At Vero Eos</h4>
                                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-recycle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Excepturi Sint</h4>
                                <p>Occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-history"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Harum Quidem</h4>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-magic"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Placeat Facere</h4>
                                <p>Omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Portfolio</h2>
                <p class="text-center wow fadeInDown"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores<br>alias consequatur aut perferendis doloribus asperiores repellat</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Perspiciatis</a></li>
                    <li><a href="#" data-filter=".filter1">Voluptatem</a></li>
                    <li><a href="#" data-filter=".filter2">Aperiam</a></li>
                    <li><a href="#" data-filter=".filter3">Inventore</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/01.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Nemo enim ipsam</h3>
                            Voluptatem quia voluptas
                            <a class="preview" href="{%static 'images/portfolio/01.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/02.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Sed quia consequ</h3>
                            Magni dolores eos qui
                            <a class="preview" href="{%static 'images/portfolio/02.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/03.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Neque porro</h3>
                            Qui dolorem ipsum quia
                            <a class="preview" href="{%static 'images/portfolio/03.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/04.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Sed quia non numquam</h3>
                            Eius modi tempora incidunt
                            <a class="preview" href="{%static 'images/portfolio/04.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/05.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Labore et dolore</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{%static 'images/portfolio/05.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/06.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis autem vel</h3>
                            Ut enim ad minima veniam
                            <a class="preview" href="{%static 'images/portfolio/06.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/07.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{%static 'images/portfolio/07.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{%static 'images/portfolio/08.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Corporis suscipit</h3>
                            Nisi ut aliquid ex ea
                            <a class="preview" href="{%static 'images/portfolio/08.jpg'%}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

{% endblock %}