{% extends 'facultydefault.html' %}

{% block content %}
<div class="tm-right-column">
          <div class="tm-content-div">
 <!-- Contact Us section -->
 <section id="contact" class="tm-section">
     <header>
         <h2 class="tm-blue-text tm-section-title tm-margin-b-30">
    Welcome {{name}} !</h2></header>
            <hr>
     <div class="row">
         <div class="col-lg-12">
          <h2>Student List</h2>

          <table class='table'>
                <tr class='active'>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>

                {% for stud in students %}
                    <tr>
                        <th>{{stud.0}}</th>
                        <th>{{stud.1}}</th>
                        <th>{{stud.2}}</th>
                    </tr>
                {% endfor %}    
          </table>
         </div>      
     </div>
     
 </section>
{% endblock %}