{% extends 'studentdefault.html' %}

{% block content %}
<div class="tm-right-column">
          <div class="tm-content-div">
 <!-- Contact Us section -->
 <section id="contact" class="tm-section">
     <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">
            Ask Your Question !</h2></header>

     <div class="row">
         <div class="col-lg-12">
           <form action="/student/ask" method="post">
            {% csrf_token %}
              <textarea class='form-control' cols="60" rows="2" name="qus" required></textarea>
               
               <br><br>
               <button type='submit' class='btn btn-success'>Send It</button>                
           </form>
         </div>      
     </div>

     <hr>
     
     <div class="row">
        <div class="col-lg-12">

            <table class='table'>
                <tr>
                    <th>Question</th>
                    <th>When</th>
                </tr>

                {% for qus in questions %}
                    <tr>
                        <th>{{qus.1}}</th>
                        <th>{{qus.2}}</th>
                    </tr>
                {% endfor %}

            </table>


        </div></div>

 </section>
{% endblock %}